.pepe {
	color:yellow;
	text-align: center;
	font-size: 100px;
}
body{
	background-image: url(plane.jpg);
	background-size: cover;
}
p {
	color: yellow;
	font-size: 35px;
}
.oc{
	margin-right: auto;
	margin-left: auto;
	width: 650px;

}
button {
	  font-size: 30px;

}
.meme{
	margin-top: 150px; 
}